.homeHeader{
  background: url('../imgs/img/backgrounds/bghome.jpg') no-repeat center center/cover;
}

.card-right,.card-left{
  border: 2px solid var(--cor-p1);
  border-radius: 5px;
  padding: 16px 10px;
  max-width: 300px;
  height: auto;
  box-sizing: border-box;
  cursor: pointer;
  background: linear-gradient(to bottom, #00A3FE 50%, #fff 50%);
  background-size: 100% 200%;
  background-position: bottom left;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.3);
  
  
}
.card-right:hover,.card-left:hover{
  transition: all .4s ease-out;
  background-position: top left;
  transform: scale(1.1);
  border: 2px solid var(--cor-11);
}
.cards-left{
  margin-right: 28px;
  margin-top: 36px;
}
.card-marcas{
  display: flex;
  gap: 24px;
  margin-top: 60px;
}
.caixa-marcas{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 0 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.card-marcas p::before{
  content: '';
  width: 100px;
  height: 4px;
  display: flex;
  position: relative;
  margin:16px auto;
  background: var(--cor-11);
}
.conteudo-marcas{
  align-self: center;
}

.btns{
  display: flex;
  gap: 60px;
}

.cards-servicos{
  margin-top: 32px;
  display: flex;
  gap: 80px;
  justify-content: center;
}
.card-servi{
  box-sizing: border-box;
  border-top: 10px solid var(--cor-p1);
  max-width: 300px;
  width: 100%;
  height: 300px;
  background: var(--cor-0);
}

.espaco-icon-service{
  padding-top: 30px;
  padding-left: 16px;
  padding-bottom: 12px;
}
.espaco-texto-service{
  padding-left: 16px;
}
.bola{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid var(--cor-p1);
  transition: .3s all;
}
.bola.ativo{
  background: #00A3FE;
}
.div-option{
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
.cont-option{
  display: flex;
  margin-bottom: 8px;
}
.linha-option{
  width: 100%;
  height: 6px;
  background-color: var(--cor-11);
  border-radius: 8px;
  position: relative;
}
.progresso{
  width: 25%;
  position: absolute;
  height: 6px;
  display: block;
  left: 0;
  background-color: var(--cor-p1);
  border-radius: 8px;
  transition: .3s all;
}
.item-click{
  display: flex;
  gap: 8px;
  white-space: nowrap;
  cursor: pointer;
}
.img-carro{
  border-radius: 8px 8px 0 0;
}
.coluna-carro{
  padding-left: 10px;
  padding-right: 10px;
}
.info-carro{
  background: var(--cor-11);
  border-radius: 0 0 8px 8px;
}
.valor-potencia{
  display: flex;
  gap: 4px;
  white-space: nowrap;
  justify-content: space-between;
}
.cavalos{
  display: flex;
  align-items: center;
}
.info-carro{
  padding: 16px 20px;
}
.carro{
  margin-bottom: 40px;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.3));
}
.lista-carros{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 20px;
}.lista-carros

.config-btn-meio{
  display: block;
  margin: 0 auto;
}


.abrirFechar{
  content: '';
  position: relative;
  display:block;
  background: var(--cor-p1);
  width: 24px;
  height: 3px;
  cursor: pointer;
}
.abrirFechar.ativo::after{
  content: '';
  position:relative;
  rotate: 90deg;
  display: block;
  background: var(--cor-p1);
  width: 24px;
  height: 3px;
  cursor: pointer;
}
.div-controle{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 8px;
}
.duvidas{
  display: flex;
}
.quadros-ajuda{
  display: grid;
  align-items: center;
}
.quadros-ajuda{
  padding-right: 20px;
}
.cada-quadro p {
  display: none;
  animation:acordionAnimacao .5s forwards;
  max-width: 600px;
}
.cada-quadro p.ativo{
  display: block;
}
.cada-quadro::after{
  content: '';
  height: 2px;
  width: 100%;
  background: var(--cor-6);
  display: block;
  margin: 20px 0;
}
.footer-colunas{
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
}
.medias{
  display: flex;
  gap: 32px;
  cursor: pointer;
}
.logo-social{
  display: grid;
  align-items: center;
}
.input-footer{
  padding: 8px 16px;
  outline: none;
  border-radius: 5px;
  width: 80%;
  box-sizing: border-box;
}
.form-footer{
  display: grid;
  gap: 12px;
  box-sizing: border-box;
  justify-items: center;
}
.form-footer input{
  width: 100%;
}
.form-footer input.ativo{
  border: 2px solid rgba(255, 0, 0, 0.986);
}
.sucesso{
  background: #0b8f14;
  padding: 8px;
  border-radius: 16px;
}
.erro{
  background: rgba(255, 0, 0, 0.986);
  padding: 8px;
  border-radius: 16px;
}
.aviso-msg p{
  font-size: 18px;
  font: 400 18px/1.2 'Roboto', sans-serif;
}
.font-footer-nav li{
  margin-bottom: 16px;
}
.font-footer-nav li a:hover{
  color: var(--cor-p1);
}
.form-contato{
  align-self: center;
}
.navegacao{
  margin-left: 60px;
}
.img-duvidas{
  align-self: center;
}

.coluna-carro{
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
@keyframes acordionAnimacao{
  from{
    opacity: 0;
    transform: translate3d(-30px,0,0);
  }
  to{
    opacity: 1;
    transform: translate3d(0,0,0);

  }
}

@media(min-width:1050px){
  .img-duvidas{
    align-self: center;
  }
}

@media(max-width:1050px){
  .lista-carros{
    margin: auto;
  }
.coluna-carro{
  flex: 0 0 30%;
  max-width:30%;
}
.valor-potencia{
  flex-direction: column;
  align-items: center;
}
.info-carro p {
  text-align: center;
  white-space: nowrap;
}
.btn-primary-carro img{
  display: none;
}
  .caixa-marcas{
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .conteudo-marcas{
    text-align: center;
  }
  .card-marcas{
    margin-top: 60px;
  }
  .card-right,.card-left{
    max-width: 100%;
    max-height: 300px;
  }
  .btns{
    justify-content: center;
  }
  .cards-servicos{
    gap: 40px;
  }
  .footer-colunas{
    gap: 16px;
  }
}
@media(max-width:768px){
.coluna-carro{
  flex: 0 1 auto;
  max-width:100%;
}
   .cards-servicos{
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  .card-servi{
    max-width: 80%;
    height:auto;
    text-align: center;
  }
  .espaco-icon-service{
    margin: 0 auto;
    padding-left: 0;
  }
  .espaco-texto-service{
    padding: 8px;
  }
  .linha-option,.item-click .bola{
    display: none;
  }
  .item-click p.ativo{
    color:  var(--cor-p1);
    font-weight: bold;
  }
  .item-click p:hover{
    color:  var(--cor-p1);
    font-weight: bold;
  }
  .cont-option{
    margin-bottom: 16px;
  }
  .duvidas{
    display: grid;
    grid-template-columns: 1fr;
  }
  .quadros-ajuda{
    padding-right: 0;
  }
  .quadros-ajuda h3{
    text-align: center;
  }
  .footer-colunas{
    grid-template-columns: 1fr;
  }
  .logo-social{
    justify-items: center;
    gap: 24px;
    margin-bottom: 32px;
  }
  .navegacao{
    margin-left: 0;
  }
  .form-footer{
    margin-bottom: 32px;
  }
}
@media(max-width:576px){
  .card-marcas{
    display: block;
  }
  .btns{
    display: block;
  }
  .cards-left{
    margin-right: 0px;
  }
  .cards-right{
    margin-top: 24px;
  }
  .btns a + a{
    margin-top: 12px;
  }
  .font-p-roboto{
    font-size: 18px;
  }
  .card-right:hover,.card-left:hover{
    transform: scale(1);
  }
  .conteudo-marcas{
    display: none;
  }
  .cavalos{
    margin-top: 8px;
    justify-content: center;
  }
  .btn-primary-carro{
    padding: 12px 0;
  }
  .cont-option {
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr 1fr;
}
.item-click p{
  margin: 2px 5px;
  font-size: 18px;
}
.item-click p.ativo{
  color:  var(--cor-p1);
  font-weight: bold;
}
.item-click p:hover{
  color:  var(--cor-p1);
  font-weight: bold;
}
}